[user]
	email = ramme95@gmail.com

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

[alias]
        graph = log --oneline --graph --decorate
        df = diff --word-diff
        gc = git commit -m

[core]
        excludesfile = /Users/ramjav/.gitignore
	editor = nvim
