@import "./colors.css";

* {
  font-family: "SF Pro", "Liga SFMonoNerdFont";
  font-size: 16px;
  font-weight: 600;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: @DARK1;
  border-bottom: 2px solid @DARK2;
}

#workspaces {
  padding: 0 4px;
}

#workspaces button {
  background: transparent;
  border-radius: 0;
  padding: 0 10px;
  margin: 0;
  color: @GRAY0;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  min-width: 20px;
}

#workspaces button.active {
  color: @ACCENT;
  border-bottom: 2px solid @ACCENT;
  background: @DARK2;
}

#workspaces button.empty {
  color: @GRAY;
}

#workspaces button:hover {
  background: @DARK2;
  color: @FG;
}

#clock,
#custom-weather,
#custom-windows_info,
#custom-update,
#custom-omarchy,
#custom-speed,
#custom-screenrecording-indicator,
#custom-voxtype,
#custom-notification-silencing-indicator,
#custom-idle-indicator {
  padding: 0 10px;
  color: @ACCENT;
}

#clock {
  font-size: 17px;
  font-weight: 700;
}

#custom-omarchy {
  font-size: 19px;
}

#custom-windows_info {
  font-weight: 600;
}

#custom-windows_info.empty {
  background: transparent;
}

#cpu,
#memory,
#bluetooth,
#pulseaudio,
#custom-wifi,
#custom-battery,
#tray {
  padding: 0 8px;
  color: @ACCENT;
  font-weight: 600;
}

#tray {
  padding: 0 8px;
}

#tray > .passive {
  color: @GRAY0;
}

#custom-battery.warning {
  color: @ORANGE;
}

#custom-battery.critical {
  color: @RED;
}

#pulseaudio.muted {
  color: @GRAY0;
}

tooltip {
  background: @DARK;
  border: 1px solid @ACCENT;
  border-radius: 8px;
  padding: 4px;
}

tooltip label {
  padding: 8px 12px;
  color: @FG;
  font-size: 16px;
}
